---
import { allBlogPostsByCategory } from "./blog.ts";
import Header from "../../components/Header";
import Footer from "../../components/Footer";
import Head from "../../components/Head";
import "@fontsource-variable/source-code-pro";
import "@fontsource-variable/fredoka";
import "@fontsource/rubik-mono-one";
---

<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href=`${import.meta.env.BASE_URL}/style.css`
    />
    <link rel="sitemap" href=`${import.meta.env.BASE_URL}/sitemap-index.xml` />
    <Head />
    <meta name="generator" content={Astro.generator} />
    <title>Jared Asuncion | Blog</title>
  </head>
  <body>
    <main>
      <Header />
      <a href={`${import.meta.env.BASE_URL}/`}>Home</a>
      <span class="raquo">&raquo;</span>
      <a href="#">Blog</a>
      <div class="postList">
        {
          Object.keys(allBlogPostsByCategory).map((category) => {
            return (
              <>
                <>
                  <span>&nbsp;</span>
                  <h2>{category}</h2>
                </>
                {allBlogPostsByCategory[category]
                  .slice(0, 5)
                  .map(({ slug, data }, index) => {
                    const { date } = data;

                    function dateToString(date: Date) {
                      let year = date.getFullYear();
                      let month = pad(date.getMonth() + 1);
                      let day = pad(date.getDate());

                      return [year, month, day].join(".");
                    }

                    function pad(num: number) {
                      return num.toString().padStart(2, "0");
                    }

                    return (
                      <>
                        <span
                          style={`opacity: ${1 - index * 0.1}`}
                          class="monospace date"
                        >
                          {dateToString(date)}
                        </span>
                        <a
                          style={`opacity: ${1 - index * 0.1}`}
                          href={`${import.meta.env.BASE_URL}/blog/${slug}`}
                        >
                          {data.title}
                        </a>
                      </>
                    );
                  })}
              </>
            );
          })
        }
      </div>
      <Footer />
    </main>
    <style>
      h2 {
        font-weight: 700;
        padding-top: 3ex;
      }

      .date {
        width: fit-content;
      }

      .postList {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: clamp(10px, 5vw, 30px);
      }

      .monospace {
        font-family: "Source Code Pro Variable", sans-serif;
        font-weight: 300;
      }
    </style>
  </body>
</html>
