---
import "@fontsource-variable/source-code-pro";
import "@fontsource/fira-sans/100.css";
import "@fontsource/fira-sans/200.css";
import "@fontsource/fira-sans/300.css";
import "@fontsource/fira-sans/400.css";
import "@fontsource/fira-sans/500.css";
import "@fontsource/fira-sans/600.css";
import "@fontsource/fira-sans/700.css";
import "@fontsource/fira-sans/800.css";
import "@fontsource/fira-sans/900.css";
import "@fontsource/rubik-mono-one";
import { getCollection } from "astro:content";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import PageHeader from "../../components/PageHeader.astro";
import SidebarCategories from "../../components/SidebarCategories.astro";
import TopTags from "../../components/SidebarTopTags.astro";
import PageLayout from "../../layouts/PageLayout.astro";
import { allBlogPostsUnsorted } from "./blog.ts";
const posts = (await getCollection("blog", ({ data }) => !data.draft)).sort(
  (a, b) => {
    return b.data.date.getTime() - a.data.date.getTime();
  }
);
const POST_PREVIEW_LIMIT = 3;
const breadcrumbData = {
  title: "Blog",
  href: `${import.meta.env.BASE_URL}/blog`,
};
---

<PageLayout frontmatter={{ title: "Blog" }}>
  <span slot="sidebar">
    <Breadcrumbs data={breadcrumbData} />
    <SidebarCategories />
    <TopTags posts={posts} top={5} />
  </span>
  <div class="postList">
    <span class="monospace date">&nbsp;</span>
    <PageHeader text={"Blog"} />
    {
      posts.map(({ slug, data }, index) => {
        const { date } = data;

        function dateToString(date: Date) {
          let year = date.getFullYear();
          let month = pad(date.getMonth() + 1);
          let day = pad(date.getDate());

          return [year, month, day].join(".");
        }

        function pad(num: number) {
          return num.toString().padStart(2, "0");
        }

        return (
          <>
            <span class="monospace date">{dateToString(date)}</span>
            <a href={`${import.meta.env.BASE_URL}/blog/${slug}`}>
              {data.title}
            </a>
          </>
        );
      })
    }
  </div>
</PageLayout>

<style>
  h2 {
    font-weight: 700;
    padding-top: 3ex;
  }

  .date {
    width: fit-content;
  }

  .postList {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: clamp(10px, 5vw, 30px);
  }

  .monospace {
    font-family: "Source Code Pro Variable", sans-serif;
    font-weight: 300;
  }

  .full-category-link {
    /* color: royalblue; */
    opacity: 0.6;
  }

  .category-link {
    /* color: royalblue; */
    font-weight: 700;
  }

  .category-link:hover {
  }
</style>
