---
import "@fontsource-variable/source-code-pro";
import "@fontsource/fira-sans/100.css";
import "@fontsource/fira-sans/200.css";
import "@fontsource/fira-sans/300.css";
import "@fontsource/fira-sans/400.css";
import "@fontsource/fira-sans/500.css";
import "@fontsource/fira-sans/600.css";
import "@fontsource/fira-sans/700.css";
import "@fontsource/fira-sans/800.css";
import "@fontsource/fira-sans/900.css";
import "@fontsource/rubik-mono-one";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import TopTags from "../../components/SidebarTopTags.astro";
import PageLayout from "../../layouts/PageLayout.astro";
import { allBlogPostsByCategory, allBlogPostsUnsorted } from "./blog.ts";
import SidebarCategories from "../../components/SidebarCategories.astro";
const POST_PREVIEW_LIMIT = 3;
const breadcrumbData = {
  title: "Blog",
  href: `${import.meta.env.BASE_URL}/blog`,
};
---

<PageLayout frontmatter={{ title: "Blog" }}>
  <span slot="sidebar">
    <Breadcrumbs data={breadcrumbData} />
    <SidebarCategories />
    <TopTags posts={allBlogPostsUnsorted} top={5} />
  </span>
  <div class="postList">
    {
      Object.keys(allBlogPostsByCategory).map((category) => {
        return (
          <>
            <>
              <span>&nbsp;</span>
              <h2>
                <a
                  class="category-link"
                  href={`/blog/category/${category.toLowerCase().replaceAll(" ", "-")}`}
                >
                  {category}
                </a>
              </h2>
            </>
            {allBlogPostsByCategory[category]
              .slice(0, POST_PREVIEW_LIMIT)
              .map(({ slug, data }, index) => {
                const { date } = data;

                function dateToString(date: Date) {
                  let year = date.getFullYear();
                  let month = pad(date.getMonth() + 1);
                  let day = pad(date.getDate());

                  return [year, month, day].join(".");
                }

                function pad(num: number) {
                  return num.toString().padStart(2, "0");
                }

                return (
                  <>
                    <span class="monospace date">{dateToString(date)}</span>
                    <a href={`${import.meta.env.BASE_URL}/blog/${slug}`}>
                      {data.title}
                    </a>
                  </>
                );
              })}
            {allBlogPostsByCategory[category].length > POST_PREVIEW_LIMIT && (
              <>
                <span class="monospace date">
                  &gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;
                </span>
                <span>
                  <a
                    class="full-category-link"
                    href={`/blog/category/${category.toLowerCase().replaceAll(" ", "-")}`}
                  >
                    see more posts about {category}
                  </a>
                </span>
              </>
            )}
          </>
        );
      })
    }
  </div>
</PageLayout>

<style>
  h2 {
    font-weight: 700;
    padding-top: 3ex;
  }

  .date {
    width: fit-content;
  }

  .postList {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: clamp(10px, 5vw, 30px);
  }

  .monospace {
    font-family: "Source Code Pro Variable", sans-serif;
    font-weight: 300;
  }

  .full-category-link {
    /* color: royalblue; */
    opacity: 0.6;
  }

  .category-link {
    /* color: royalblue; */
    font-weight: 700;
  }

  .category-link:hover {
  }
</style>
