---
import { allBlogPostsByCategory } from "./blog.ts";
import Header from "../components/Header";
import "@fontsource-variable/source-code-pro";
import "@fontsource-variable/fredoka";
import "@fontsource/rubik-mono-one";
---

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Blog | Guissmo</title>
  </head>
  <body>
    <Header />
    {
      Object.keys(allBlogPostsByCategory).map((category) => {
        return (
          <>
            <h2>{category}</h2>
            {allBlogPostsByCategory[category].map(({ slug, data }) => {
              const { date } = data;

              function dateToString(date: Date) {
                let year = date.getFullYear();
                let month = pad(date.getMonth() + 1);
                let day = pad(date.getDate());

                return [year, month, day].join(".");
              }

              function pad(num: number) {
                return num.toString().padStart(2, "0");
              }

              return (
                <p>
                  <span class="leftMargin">
                    <span class="monospace">{dateToString(date)}</span>
                  </span>
                  <a href={`../${slug}`}>{data.title}</a>
                </p>
              );
            })}
          </>
        );
      })
    }
  </body>
</html>

<style>
  h2 {
    font-weight: 700;
    padding-top: 3ex;
  }

  .leftMargin {
    position: absolute;
    z-index: -1;
  }

  .leftMargin span {
    position: relative;
    display: block;
    width: fit-content;
    transform: translateX(-120%);
  }

  .monospace {
    font-family: "Source Code Pro Variable", sans-serif;
    font-weight: 300;
  }

  a {
    font-weight: 600;
  }
</style>
