---
import {
  skillData,
  personalProjectData,
  workExperienceData,
  educationData,
} from "./cv.ts";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Head from "../components/Head";
import "@fontsource-variable/source-code-pro";
import "@fontsource-variable/fredoka";
import "@fontsource/rubik-mono-one";

export function dateString(data: any) {
  if (data.year_s === undefined) return ``;
  if (data.year_s == data.year_e) return data.year_s;
  if (data.year_e === undefined) return `${data.year_s} -`;
  return `${data.year_s} - ${data.year_e}`;
}
---

<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href=`${import.meta.env.BASE_URL}/style.css`
    />
    <link rel="sitemap" href=`${import.meta.env.BASE_URL}/sitemap-index.xml` />
    <Head />
    <meta name="generator" content={Astro.generator} />
    <title>Jared Asuncion | Website</title>
  </head>
  <body>
    <main>
      <Header />
      <div class="contactInfo">
        <span class="monospace align-right bold">blog</span>
        <span class="inline-list"
          ><a href="./blog"
            ><span class="bold emphasize-by-opacity">guissmo</span><span
              class="deemphasize">.com/blog</span
            ></a
          ></span
        >
        <span class="monospace align-right bold">email</span>
        <span class="inline-list"
          ><a
            href="javascript:location='mailto:\u006a\u0061\u0072\u0065\u0064\u0040\u0067\u0075\u0069\u0073\u0073\u006d\u006f\u002e\u0063\u006f\u006d';void 0"
            ><span class="deemphasize"
              ><script type="text/javascript">
                document.write("\u006a\u0061\u0072\u0065\u0064\u0040");
              </script></span
            ><span class="bold emphasize-by-opacity">guissmo</span><span
              class="deemphasize">.com</span
            ></a
          ></span
        >
        <span class="monospace align-right bold">github</span>
        <span class="inline-list"
          ><a href="https://github.com/guissmo" target="_blank"
            ><span class="deemphasize">github.com/</span><span
              class="bold emphasize-by-opacity">guissmo</span
            ></a
          ></span
        >
        <span class="monospace align-right bold">linkedin</span>
        <span class="inline-list"
          ><a href="https://linkedin.com/in/guissmo" target="_blank"
            ><span class="deemphasize">linkedin.com/in/</span><span
              class="bold emphasize-by-opacity">guissmo</span
            ></a
          ></span
        >
      </div>
      <div class="bio">
        <span class="bold">Hi, I'm Jared Asuncion.</span> I've been solving math
        problems for more than 19 years, publishing my websites online for more than
        18 years, and coding solutions to algorithmic problems for more than 17 years.<br
        />
        <div class="bio-footnote">
          For the curious: <span class="bold">Guissmo</span> is my second name and
          is unique enough to be my username in most places.
        </div>
      </div>
      <div class="mainList">
        {
          skillData.map((cvEntry) => {
            return (
              <>
                <span class="hide-on-mobile">&nbsp;</span>
                <h2>{cvEntry.id}</h2>
                {Object.keys(cvEntry.data).map((category) => {
                  return (
                    <>
                      <span class="monospace bold skill-category">
                        {category}
                      </span>
                      <span class="inline-list">
                        {cvEntry.data[category].map((skill: string) => {
                          return <span class="list-entry">{skill}</span>;
                        })}
                      </span>
                    </>
                  );
                })}
              </>
            );
          })
        }
        {
          personalProjectData.map((cvEntry) => {
            return (
              <>
                <>
                  <span class="hide-on-mobile">&nbsp;</span>
                  <h2>{cvEntry.id}</h2>
                </>
                {Object.keys(cvEntry.data)
                  .filter((_, index) => index < 3)
                  .map((category) => {
                    const projectData = cvEntry.data[category];
                    if (projectData.show == false) return;
                    const yearString = projectData.year
                      .toString()
                      .padStart(4, "0");
                    const monthString = projectData.month
                      .toString()
                      .padStart(2, "0");
                    const dateString = `${yearString}.${monthString}`;
                    return (
                      <>
                        <span class="monospace vertical-align-center">
                          {dateString}
                        </span>
                        <span class="inline-list">
                          <span class="block cv-entry-title">
                            {projectData.name}
                          </span>
                        </span>
                        <span class="monospace hide-on-mobile">&nbsp;</span>
                        <span class="inline-list">
                          <span class="block links">
                            links:
                            {Object.keys(projectData.url).map(
                              (urlCategory, index, arrayItself) => {
                                const url = projectData.url[urlCategory];
                                return (
                                  <>
                                    <a href={url} target="_blank">
                                      {urlCategory}
                                    </a>
                                    {index != arrayItself.length - 1 && " | "}
                                  </>
                                );
                              }
                            )}
                          </span>
                          <span class="block">
                            <ul>
                              {projectData.details.map((detail: string) => {
                                return <li>{detail}</li>;
                              })}
                            </ul>
                          </span>
                        </span>
                      </>
                    );
                  })}
              </>
            );
          })
        }
        {
          Object.keys(personalProjectData[0].data).length > 3 && (
            <>
              <span class="hide-on-mobile">&nbsp;</span>
              <span class="inline-list">
                <a href="/projects">
                  &raquo; View all{" "}
                  {Object.keys(personalProjectData[0].data).length} projects
                </a>
              </span>
            </>
          )
        }
        {
          workExperienceData.map((cvEntry) => {
            return (
              <>
                <>
                  <span class="hide-on-mobile">&nbsp;</span>
                  <h2>{cvEntry.id}</h2>
                </>
                {Object.keys(cvEntry.data)
                  .filter((_, index) => index < 3)
                  .map((category) => {
                    const workExperience = cvEntry.data[category];
                    const yearStartString = workExperience.year_s
                      .toString()
                      .padStart(4, "0");
                    const yearEndString =
                      workExperience.year_e == undefined
                        ? ""
                        : workExperience.year_e.toString().padStart(2, "0");
                    // const dateString = `${yearStartString} – ${yearEndString}`;
                    return (
                      <>
                        <span class="monospace vertical-align-center">
                          {dateString(workExperience)}
                        </span>
                        <span class="inline-list">
                          <span class="block cv-entry-title">
                            {workExperience.position}
                          </span>
                        </span>
                        <span class="monospace hide-on-mobile">&nbsp;</span>
                        <span class="inline-list">
                          <span class="block project-subtitle">
                            {workExperience.company}
                          </span>
                          <span class="block links">
                            links:
                            {Object.keys(workExperience.url).map(
                              (urlCategory, index, arrayItself) => {
                                const url = workExperience.url[urlCategory];
                                return (
                                  <>
                                    <a href={url} target="_blank">
                                      {urlCategory}
                                    </a>
                                    {index != arrayItself.length - 1 && " | "}
                                  </>
                                );
                              }
                            )}
                          </span>
                          <span class="block">
                            <ul>
                              {workExperience.details.map((detail: string) => {
                                return <li>{detail}</li>;
                              })}
                            </ul>
                          </span>
                        </span>
                      </>
                    );
                  })}
              </>
            );
          })
        }
        {
          Object.keys(workExperienceData[0].data).length > 3 && (
            <>
              <span class="hide-on-mobile">&nbsp;</span>
              <span class="inline-list">
                <a href="/work-experience">
                  &raquo; View all{" "}
                  {Object.keys(workExperienceData[0].data).length} work
                  experience
                </a>
              </span>
            </>
          )
        }
        {
          educationData.map((cvEntry) => {
            return (
              <>
                <>
                  <span class="hide-on-mobile">&nbsp;</span>
                  <h2>{cvEntry.id}</h2>
                </>
                {Object.keys(cvEntry.data).map((category) => {
                  const education = cvEntry.data[category];
                  const yearStartString = education.year_s
                    .toString()
                    .padStart(4, "0");
                  const yearEndString =
                    education.year_e == undefined
                      ? ""
                      : education.year_e.toString().padStart(2, "0");
                  const dateString = `${yearStartString} – ${yearEndString}`;
                  return (
                    <>
                      <span class="monospace vertical-align-center">
                        {dateString}
                      </span>
                      <span class="inline-list">
                        <span class="block cv-entry-title">
                          {education.degree}
                        </span>
                      </span>
                      <span class="monospace hide-on-mobile">&nbsp;</span>
                      <span class="inline-list">
                        <span class="block project-subtitle">
                          {education.university}
                        </span>
                        <span class="block links">
                          links:
                          {Object.keys(education.url).map(
                            (urlCategory, index, arrayItself) => {
                              const url = education.url[urlCategory];
                              return (
                                <>
                                  <a href={url} target="_blank">
                                    {urlCategory}
                                  </a>
                                  {index != arrayItself.length - 1 && " | "}
                                </>
                              );
                            }
                          )}
                        </span>
                        {education.details && (
                          <span class="block">
                            <ul>
                              {education.details.map((detail: string) => {
                                return <li>{detail}</li>;
                              })}
                            </ul>
                          </span>
                        )}
                      </span>
                    </>
                  );
                })}
              </>
            );
          })
        }
      </div>
      <Footer />
    </main>
    <style>
      h2 {
        font-weight: 700;
        padding-top: 3ex;
        text-transform: capitalize;
      }

      .date {
        width: fit-content;
      }

      .mainList {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: clamp(10px, 5vw, 30px);
      }

      .contactInfo {
        display: grid;
        grid-template-columns: 10vw 1fr;
        column-gap: clamp(10px, 5vw, 30px);
        row-gap: 1ex;
      }

      .bio {
        padding-top: 5ex;
        padding-right: 10vw;
        font-size: 20px;
        text-align: justify;
        text-align-last: left;
      }

      .bio-footnote {
        font-size: 1rem;
        opacity: 0.8;
      }

      .monospace {
        font-family: "Source Code Pro Variable", sans-serif;
        font-weight: 300;
        text-align: right;
      }

      .bold {
        font-weight: 700;
      }

      .inline-list {
        width: 100%;
        gap: 1em;
        display: block;
      }

      .vertical-align-center {
        align-self: center;
      }

      .list-entry {
        display: inline-block;
      }

      .list-entry:not(:last-of-type):after {
        content: ",";
      }

      .list-entry:not(:last-of-type) {
        margin-right: 0.5em;
      }

      .block {
        display: block;
      }

      .cv-entry-title {
        font-weight: 600;
        font-size: 1.2rem;
      }

      .project-subtitle {
        font-weight: 500;
      }

      .links {
        opacity: 0.8;
      }

      .links:hover {
        opacity: 1;
      }

      .deemphasize {
        opacity: 0.8;
        font-weight: 500;
      }

      .emphasize-by-opacity {
        opacity: 1;
      }

      .no-wrap {
        white-space: no-wrap !important;
      }

      @media screen and (max-width: 640px) {
        .mainList {
          display: grid;
          grid-template-columns: 1fr;
          padding: 0 10px;
        }

        .contactInfo {
          display: grid;
          width: 95%;
          margin-left: auto;
          grid-template-columns: auto 1fr;
          column-gap: clamp(10px, 5vw, 30px);
        }

        .monospace {
          text-align: unset;
        }

        .align-right {
          text-align: right;
        }

        .inline-list {
          padding-left: 1em;
          width: unset;
        }

        .skill-category {
          padding-top: 1.5ex;
        }

        .cv-entry-title {
          font-size: 1.2rem;
        }

        .bio {
          padding-right: 0;
        }

        .hide-on-mobile {
          display: none !important;
        }
      }
    </style>
  </body>
</html>
