---
import { skillData, personalProjectData } from "./cv.ts";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Head from "../components/Head";
import "@fontsource-variable/source-code-pro";
import "@fontsource-variable/fredoka";
import "@fontsource/rubik-mono-one";
---

<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href=`${import.meta.env.BASE_URL}/style.css`
    />
    <link rel="sitemap" href=`${import.meta.env.BASE_URL}/sitemap-index.xml` />
    <Head />
    <meta name="generator" content={Astro.generator} />
    <title>Jared Asuncion | Blog</title>
  </head>
  <body>
    <main>
      <Header />
      <div class="mainList">
        {
          skillData.map((cvEntry) => {
            return (
              <>
                <span>&nbsp;</span>
                <h2>{cvEntry.id}</h2>
                {Object.keys(cvEntry.data).map((category) => {
                  return (
                    <>
                      <span class="monospace skill-category">{category}</span>
                      <span class="inline-list">
                        {cvEntry.data[category].map((skill: string) => {
                          return <span class="skill-entry">{skill}</span>;
                        })}
                      </span>
                    </>
                  );
                })}
              </>
            );
          })
        }
        {
          personalProjectData.map((cvEntry) => {
            return (
              <>
                <>
                  <span>&nbsp;</span>
                  <h2>{cvEntry.id}</h2>
                </>
                {Object.keys(cvEntry.data).map((category) => {
                  const projectData = cvEntry.data[category];
                  const yearString = projectData.year
                    .toString()
                    .padStart(4, "0");
                  const monthString = projectData.month
                    .toString()
                    .padStart(2, "0");
                  const dateString = `${yearString}.${monthString}`;
                  return (
                    <>
                      <span class="monospace">{dateString}</span>
                      <span class="inline-list">{projectData.name}</span>
                    </>
                  );
                })}
              </>
            );
          })
        }
      </div>
      <Footer />
    </main>
    <style>
      h2 {
        font-weight: 700;
        padding-top: 3ex;
        text-transform: capitalize;
      }

      .date {
        width: fit-content;
      }

      .mainList {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: clamp(10px, 5vw, 30px);
      }

      .monospace {
        font-family: "Source Code Pro Variable", sans-serif;
        font-weight: 300;
        text-align: right;
      }

      .skill-category {
        font-weight: 700;
      }

      .inline-list {
        width: 100%;
        gap: 1em;
      }

      .skill-entry {
        display: inline-block;
      }

      .skill-entry:not(:last-of-type):after {
        content: ", ";
      }

      .skill-entry:not(:last-of-type) {
        margin-right: 0.5em;
      }

      @media screen and (max-width: 640px) {
        .mainList {
          display: grid;
          grid-template-columns: 1fr;
          padding: 0 10px;
        }

        .monospace {
          text-align: unset;
        }

        .inline-list {
          padding-left: 1em;
          width: unset;
        }

        .skill-category {
          padding-top: 1.5ex;
        }
      }
    </style>
  </body>
</html>
