---
import Head from "../components/Head";
import YoutubePlayer from "../components/YoutubePlayer";
import "@fontsource-variable/source-code-pro";
import "@fontsource-variable/fredoka";
import "@fontsource/rubik-mono-one";

/* LA BALLADE */
let title = "Lola";
let artiste = "Brett Domino";
let debugTimeAdjust = 0;
let timeAdjust = 1;
let isMobile = false;
let lyrAdjust = 0;
const lyrics = `
[00:00.00]-
[00:00.75]Don't
[00:00.90]meet
[00:01.23]many
[00:01.41]girl
[00:01.98]like
[00:02.53]Lola
[00:03.33]
[00:04.51]Kind
[00:04.80]that
[00:05.08]live
[00:05.37]that
[00:05.65]vida
[00:06.21]loca
[00:07.01]
[00:08.20]Yeah
[00:08.48]Lola
[00:09.05]love
[00:09.33]that
[00:09.61]vida
[00:10.18]loca
[00:10.98]
[00:12.45]Also
[00:12.74]this
[00:13.02]some
[00:13.30]chap
[00:13.87]they
[00:14.15]call
[00:14.15]Jona
[00:14.95]
[00:16.13]Well
[00:16.41]Lola
[00:16.70]sips
[00:16.98]cold
[00:17.55]Coca
[00:18.13]Cola
[00:18.93]
[00:20.66]She's
[00:20.66]just
[00:21.23]told
[00:21.51]Jona
[00:21.80]all's
[00:22.08]over
[00:22.88]
[00:24.08]All's
[00:24.35]over
[00:24.92]Yeah
[00:25.48]all's
[00:25.77]true
[00:26.57]
[00:27.75]Poor
[00:28.03]Jona
[00:28.83]
[00:29.45]Don't
[00:29.73]feel
[00:30.01]blue
[00:30.91]
[00:31.43]Yeah
[00:31.70]some
[00:32.00]guys
[00:32.36]have
[00:32.66]cool
[00:32.84]hips
[00:33.64]
[00:33.69]Make
[00:33.98]Jona
[00:34.54]feel
[00:34.82]sick
[00:35.37]That
[00:35.66]boy's
[00:35.96]hips
[00:36.33]ain't
[00:36.53]that
[00:36.81]chic
[00:37.61]
[00:38.03]Who's
[00:38.40]gona
[00:38.80]kiss
[00:39.37]them
[00:39.93]lips
[00:40.73]
[00:42.77]Yeah
[00:43.04]Jona
[00:43.34]like
[00:43.90]life
[00:44.47]with
[00:44.75]Lola
[00:45.55]
[00:46.17]Hits
[00:46.45]diff
[00:47.25]
[00:47.87]Wine
[00:48.44]with
[00:48.72]Lola
[00:49.44]Just
[00:49.82]hits
[00:50.30]diff
[00:51.20]Free
[00:51.50]jazz
[00:51.80]funk
[00:52.00]rock
[00:52.30]with
[00:52.69]Lola
[00:53.29]
[00:53.44]That
[00:53.64]shit
[00:53.82]hits
[00:54.39]diff
[00:55.19]
[00:55.52]Love
[00:55.80]isn't
[00:56.08]easy
[00:57.22]Jona
[00:57.78]don't
[00:58.07]love
[00:58.35]this
[00:59.15]
[00:59.45]Yeah
[00:59.77]golf
[01:00.05]with
[01:00.33]Lola
[01:01.13]
[01:01.82]Hits
[01:02.32]diff
[01:02.82]
[01:03.46]Judo
[01:04.02]with
[01:04.30]Lola
[01:04.80]
[01:05.44]Just
[01:05.72]hits
[01:06.29]diff
[01:06.79]
[01:07.43]Eggs
[01:07.99]with
[01:08.28]Lola
[01:08.78]
[01:09.13]That
[01:09.41]shit
[01:09.70]hits
[01:10.27]diff
[01:10.77]
[01:11.20]More
[01:11.60]time
[01:11.96]with
[01:12.16]Lola
[01:12.78]Jona
[01:13.63]will
[01:14.20]miss
[01:14.77]Yeah
[01:15.03], that
[01:15.33]good
[01:15.61]time
[01:15.90]with
[01:16.26]Lola
[01:17.03]Jona
[01:17.53]gona
[01:17.89]miss
[01:19.02]Ain't
[01:19.59]much
[01:19.87]left
[01:20.44]Poor
[01:20.72]Jona
[01:21.57]Just
[01:22.14]JPEG
[01:23.27]pics
[01:25.27]REDO`;

let lines = lyrics.trim().split("\n");
---

<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href=`${import.meta.env.BASE_URL}/style.css`
    />
    <link rel="sitemap" href=`${import.meta.env.BASE_URL}/sitemap-index.xml` />
    <Head
      title="Lola"
      description="A karaoke-version of Brett Domino's song Lola."
    />
    <meta name="generator" content={Astro.generator} />
    <title>Lola</title>
  </head>
  <body class="bg-dark">
    <center>
      <div class="content-container">
        <div
          class="player js-player"
          id="the-player"
          data-youtube-videoid="XTCnxizYs80"
        >
        </div>
        <p style={{ fontFamily: "Fredoka Variable", color: "white" }}>
          a song containing exclusively four-letter words by<br /><a
            href="https://brettdomino.bandcamp.com"
            target="_blank"
            class="link">Brett Domino</a
          >
        </p>
        <YoutubePlayer
          client:only="react"
          lines={lines}
          lrcOffset={timeAdjust}
        />
        <p
          style={{ fontFamily: "Fredoka Variable", color: "white", opacity: 0 }}
        >
          a song containing exclusively four-letter words by<br /><a
            href="https://brettdomino.bandcamp.com"
            target="_blank"
            class="link">Brett Domino</a
          >
        </p>
      </div>
      <div class="subtle-footer">
        <p
          style={{
            fontFamily: "Fredoka Variable",
            color: "white",
            textAlign: "right",
            opacity: 0.8,
          }}
        >
          webpage made by <a href="https://guissmo.com" class="link">guissmo</a>
        </p>
      </div>
    </center>
    <style>
      #the-player {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
        transform: translate(-1000px, -1000px);
      }
      .content-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
      }

      .link {
        color: lightblue;
      }

      .link:hover {
        background: darkred;
      }

      .subtle-footer {
        position: absolute;
        bottom: 3vh;
        right: 3vw;
        max-width: 70vw;
      }
    </style>
  </body>
</html>
