---
import {
  skillData,
  personalProjectData,
  workExperienceData,
  educationData,
} from "../cv.ts";
import Header from "../../components/Header.tsx";
import Footer from "../../components/Footer.tsx";
import Head from "../../components/Head.tsx";
import "@fontsource-variable/source-code-pro";
import "@fontsource-variable/fredoka";
import "@fontsource/rubik-mono-one";
import CVSection from "../../components/CVSection.astro";
import style from "../../styles/global.module.css";
---

<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href=`${import.meta.env.BASE_URL}/style.css`
    />
    <link rel="sitemap" href=`${import.meta.env.BASE_URL}/sitemap-index.xml` />
    <Head />
    <meta name="generator" content={Astro.generator} />
    <title>Jared Asuncion | Projects</title>
  </head>
  <body>
    <main>
      <Header />
      <div class="breadcrumbs">
        <a href={`${import.meta.env.BASE_URL}/`}>Home</a>
        <span class="raquo">&raquo;</span>
        <a href="#">Personal Projects</a>
      </div>
      <!-personalProjectDataomponents here, like common headers and footers. -->
      <h1>Personal Projects</h1>
      <!-- 2. Rendered HTML will be passed into the default slot. -->
      <div class={style.mainList}>
        <CVSection data={personalProjectData} full />
      </div>
      <Footer />
    </main>
  </body>
</html>
