---
import "@fontsource-variable/source-code-pro";
import '@fontsource/fira-sans/100.css';
import '@fontsource/fira-sans/200.css';
import '@fontsource/fira-sans/300.css';
import '@fontsource/fira-sans/400.css';
import '@fontsource/fira-sans/500.css';
import '@fontsource/fira-sans/600.css';
import '@fontsource/fira-sans/700.css';
import '@fontsource/fira-sans/800.css';
import '@fontsource/fira-sans/900.css';import "@fontsource/rubik-mono-one";
import Header from "../components/Header";
import Footer from "../components/Footer";
import TableOfContents from "../components/TableOfContents.astro";
import BaseLayout from "./BaseLayout.astro";
// 1. The frontmatter prop gives access to frontmatter and other data
const { frontmatter, headings } = Astro.props;
---

<BaseLayout frontmatter={frontmatter}>
    <main>
      <Header />
      <div class="breadcrumbs">
        <a href={`${import.meta.env.BASE_URL}/`}>Home</a>
        <span class="raquo">&raquo;</span>
        <a href={`${import.meta.env.BASE_URL}/blog`}>Blog</a>
        <span class="raquo">&raquo;</span>
        <a href={`${import.meta.env.BASE_URL}/blog/category/${frontmatter.category.toLowerCase().replaceAll(" ","-")}`}>{frontmatter.category}</a>
        <span class="raquo">&raquo;</span>
        <a href="#">{frontmatter.title}</a>
      </div>
      <!-- 2. Rendered HTML will be passed into the default slot. -->
      <span class="content">
        <div class="sticky-toc">
        <TableOfContents headings={headings} />
        </div>
        <div>
        <slot />
        </div>
      </span>
      <Footer />
    </main>
</BaseLayout>

<style>
  .content {
    display: flex;
    gap: 1rem;
  }
  .sticky-toc {
    position: sticky;
    top: 0;
    padding: 1rem;
    max-height: 100vh;
    min-width: 200px;
    overflow-y: auto;
  }
</style>
