---
function useEffect(arg0: () => () => void, arg1: never[]) {
  throw new Error("Function not implemented.");
}

import "@fontsource-variable/source-code-pro";
import "@fontsource/fira-sans/100.css";
import "@fontsource/fira-sans/200.css";
import "@fontsource/fira-sans/300.css";
import "@fontsource/fira-sans/400.css";
import "@fontsource/fira-sans/500.css";
import "@fontsource/fira-sans/600.css";
import "@fontsource/fira-sans/700.css";
import "@fontsource/fira-sans/800.css";
import "@fontsource/fira-sans/900.css";
import "@fontsource/rubik-mono-one";
import PageLayout from "./PageLayout.astro";
const { frontmatter, headings } = Astro.props;
const breadcrumbData = {
  title: "Blog",
  href: `${import.meta.env.BASE_URL}/blog`,
  child: {
    title: frontmatter.category,
    href: `${import.meta.env.BASE_URL}/blog/category/${frontmatter.category.toLowerCase().replaceAll(" ", "-")}`,
    child: {
      title: frontmatter.title,
      href: `${import.meta.env.BASE_URL}/blog/${frontmatter.slug}`,
    },
  },
};
---

<PageLayout frontmatter={frontmatter} breadcrumbData={breadcrumbData}>
  <div class="post-content">
    <slot />
  </div>
</PageLayout>
